<div class="registration-form modal-content">
  <div class="modal-header justify-content-center">
    <i [ngStyle]="textColor" class="fa-solid fa-xmark"(click)="closeModel()"></i>
   <h2 [ngStyle]="textColor">Edit Student</h2>
</div>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input type="text"
        [title]="registrationForm.get('Fname')?.valid?'':'can\'t be empty'"
        class="form-control item" id="Fname" formControlName="Fname" placeholder="First Name">
    </div>
    <div class="form-group">
        <input type="text"
        [title]="registrationForm.get('Lname')?.valid?'':'can\'t be empty'"
        class="form-control item" id="Lname" formControlName="Lname" placeholder="Last Name">
    </div>
<div class="form-group">
<ng-select [items]="countries"
  [clearable]="false"
class="item" formControlName="country" placeholder="Country"></ng-select>
</div>

  <div class="modal-footer justify-content-center">
    <button type="submit"
    [ngStyle]="backgroundColor"
    [disabled]="!registrationForm.valid"
    class="btn btn-block create-account">
      Update student
    </button>
</div>

  </form>
  </div>
