<div class="registration-form modal-content">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="modal-header justify-content-center">
      <h2>Add New Student</h2>
    </div>
    <div *ngIf="msg!=''" class="alert-dev justify-content-center">
      <p class="text-danger alert">{{ msg }}</p>
    </div>
    <div class="row mt-3">
      <div class="col-md-7">
        <div class="form-group">
          <input
            type="text"
            class="form-control item"
            id="Fname"
            formControlName="Fname"
            placeholder="First Name"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control item"
            id="Lname"
            formControlName="Lname"
            placeholder="Last Name"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control item"
            id="email"
            formControlName="email"
            placeholder="Email"
          />
        </div>
        <div class="form-group mb-2">
          <label class="mx-5">
            <input type="radio" id="gender" formControlName="gender" value="male" /> Male
          </label>
          <label>
            <input type="radio"  id="gender" formControlName="gender" value="female" />
            Female
          </label>
        </div>
        <div class="form-group">
          <ng-select
            [items]="countries"
            class="item form-control"
            id="country"
            formControlName="country"
            placeholder="Country"
          ></ng-select>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group mt-2">
          <ngb-datepicker  id="dateOfBirth" formControlName="dateOfBirth"></ngb-datepicker>
        </div>
      </div>
      <div class="modal-footer mx-5">
        <button
          type="submit"
          [disabled]="!registrationForm.valid"
          class="btn btn-block create-account"
        >
          Create Account
        </button>
      </div>
    </div>
  </form>
</div>
