# Node.js related files
backend/node_modules/
backend/npm-debug.log
backend/yarn.lock
backend/package-lock.json
package-lock.json
.env




# MongoDB related files
backend/*.log
backend/*.journal
backend/mongod.lock
backend/db/
backend/mongodump/
backend/mongorestore/
backend/mongoexport
backend/mongoimport


# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
frontend/dist
frontend/tmp
frontend/out-tsc
frontend/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

frontend/.vscode/*
frontend/!.vscode/settings.json
frontend/!.vscode/tasks.json
frontend/!.vscode/launch.json
frontend/!.vscode/extensions.json
frontend/.history/*

# Miscellaneous
frontend/.angular/cache
.sass-cache/
frontend/connect.lock
frontend/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
####################


# compiled output
nest-backend/dist
nest-backend/node_modules

# Logs
nest-backend/logs
nest-backend/*.log
nest-backend/npm-debug.log*
nest-backend/pnpm-debug.log*
nest-backend/yarn-debug.log*
nest-backend/yarn-error.log*
nest-backend/lerna-debug.log*

# OS
nest-backend/.DS_Store

# Tests
nest-backend/coverage
nest-backend/.nyc_output

# IDEs and editors
nest-backend/.idea
nest-backend/.project
nest-backend/.classpath
nest-backend/.c9/
nest-backend/*.launch
nest-backend/.settings/
nest-backend/*.sublime-workspace

# IDE - VSCode
nest-backend/.vscode/*
nest-backend/!.vscode/settings.json
nest-backend/!.vscode/tasks.json
nest-backend/!.vscode/launch.json
nest-backend/!.vscode/extensions.json