i{
  color: red;
  font-size: 15vh;
display: flex;
justify-content: center;
margin-top: 5vh;
margin-bottom: 1.5vh;
margin-left: 10%;
}
h2{
  justify-content: center;
  display: flex;
  color: #00000094;
}

p{
margin: 5% 20% 5%;
width: 65%;
text-align: center;
color: #00000061;
}
